* {margin:0; padding:0;}

.wrapper{
    height: 1000px;
    width:1300px;
    margin: auto;
}

.header{
    height: 150px;
    width:1300px;
}

.section_1{
    height: 45px;
    width:1300px;
}

.section_1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F1948A;
}

.section_1 li {
  float: left;
}

.section_1 li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 60.5px;
  text-decoration: none;
}

.section_1 li a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

.section_2{
    height: 1500px;
    width:1300px;
    background-color: #FEF9E7;
}

h1 {
  text-align: center;
  color: #4CAF50;
  padding: 20px;
}

h3 {
  padding: 20px;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}

ol li{
  list-style-type: none;
  display: inline-block;
  margin: 20px;
}


.footer{
    height: 100px;
    width:1300px;
    background-color:#00BFFF ;
}


.footer_sec_1{
    height: 100px;
    width:1300px;
    background-color: #00BFFF;
}

.footer_sec_1 p{
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    padding-top: 10px;
}



